.overlay-modal-enter {
  opacity: 0;
}

.overlay-enter-active {
  opacity: 1;
  transition: opacity 0.2s linear,
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
  transition: opacity 0.2s linear,
}