.modal-menu-enter {
  transform: translateX(-100%);
}

.modal-menu-enter-active {
  transform: translateX(0);
  transition: transform 0.2s linear,
}

.modal-menu-exit {
  transform: translateX(0);
}

.modal-menu-exit-active {
  transform: translateX(-100%);
  transition: transform 0.2s linear;
}