:root {
  // FONTS
  --main-font: 'Open Sans', sans-serif;

  // FONTS COLOR
  --light-font: #fff;
  --grey-font: #4c4b4b;
  --dark-font: #212529;

  // COLORS
  --primary-color: #ef5b4c;
  --secondary-color: #007bff;
  --bgc-first: #fff;
  --bgc-second: #f9f9f3;
}