.home {
  background-image: url(../../images/banner-photo.jpg);
  background-size: cover;
  background-position: center;

  &__wrapper {
    margin: 0 auto;
    padding: 70px 0 75px;
    width: 330px;
  }

  &__title {
    margin: 0 auto;
    width: 312px;
    color: var(--light-font);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 19px;
  }

  &__desc {
    color: var(--light-font);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 24px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    width: 210px;
    height: 38px;
    color: var(--light-font);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
}