.footer {
  border: solid #ececec;
  border-width: 1px 0 0 0;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 330px;
    height: 60px;
  }

  &__copyright {
    transform: translateY(-2px);
    color: var(--grey-font);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .footer {
    &__wrapper {
      width: 708px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .footer {
    &__wrapper {
      padding: 0 30px;
      width: 100%;
      min-width: 964px;
      max-width: 1200px;
    }
  }
}